@page
@model Shofy.Pages.Client.Pages_Client_ProductModel
@{
    ViewData["Title"] = "Product";
}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(string.IsNullOrEmpty(Model.RouteData.Values["category"]?.ToString()) ? "how-active1" : "")" data-filter="*">
                    All Products
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(Model.RouteData.Values["category"]?.ToString() == "women" ? "how-active1" : "")" data-filter=".women">
                    Women
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(Model.RouteData.Values["category"]?.ToString() == "men" ? "how-active1" : "")" data-filter=".men">
                    Men
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(Model.RouteData.Values["category"]?.ToString() == "bag" ? "how-active1" : "")" data-filter=".bag">
                    Bag
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(Model.RouteData.Values["category"]?.ToString() == "shoes" ? "how-active1" : "")" data-filter=".shoes">
                    Shoes
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(Model.RouteData.Values["category"]?.ToString() == "watches" ? "how-active1" : "")" data-filter=".watches">
                    Watches
                </button>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form asp-page="./Product" method="get">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search" value="@Model.RouteData.Values["search"]">
                    </div>
                </form>
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>
                        <ul>
                            <li class="p-b-6">
                                <a href="?sort=default" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "default" ? "filter-link-active" : "")">
                                    Default
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?sort=popularity" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "popularity" ? "filter-link-active" : "")">
                                    Popularity
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?sort=rating" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "rating" ? "filter-link-active" : "")">
                                    Average rating
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?sort=newness" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "newness" ? "filter-link-active" : "")">
                                    Newness
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?sort=price-low-to-high" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "price-low-to-high" ? "filter-link-active" : "")">
                                    Price: Low to High
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?sort=price-high-to-low" class="filter-link stext-106 trans-04 @(Model.RouteData.Values["sort"]?.ToString() == "price-high-to-low" ? "filter-link-active" : "")">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>
                        <ul>
                            <li class="p-b-6">
                                <a href="?minPrice=0&maxPrice=1000000" class="filter-link stext-106 trans-04 filter-link-active">
                                    All
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?minPrice=0&maxPrice=50" class="filter-link stext-106 trans-04">
                                    $0.00 - $50.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?minPrice=50&maxPrice=100" class="filter-link stext-106 trans-04">
                                    $50.00 - $100.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?minPrice=100&maxPrice=150" class="filter-link stext-106 trans-04">
                                    $100.00 - $150.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?minPrice=150&maxPrice=200" class="filter-link stext-106 trans-04">
                                    $150.00 - $200.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="?minPrice=200" class="filter-link stext-106 trans-04">
                                    $200.00+
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Các bộ lọc khác như Color, Tags có thể được thêm tương tự -->
                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            @foreach (var product in Model.Products)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @product.Status.ToLower()">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@product.ImagePath" alt="IMG-PRODUCT">
                            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" data-product-id="@product.ProductID">
                                Quick View
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a href="/Client/ProductDetail?productId=@product.ProductID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @product.Name
                                </a>
                                <span class="stext-105 cl3">
                                    $@product.Price
                                </span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" data-product-id="@product.ProductID">
                                    <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>
    </div>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1"></div>
    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img src="~/images/icons/icon-close.png" alt="CLOSE">
            </button>
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                            <div class="slick3 gallery-lb">
                                <!-- Hiển thị hình ảnh sản phẩm trong modal -->
                                <div class="item-slick3" data-thumb="#">
                                    <div class="wrap-pic-w pos-relative">
                                        <img class="modal-product-image" src="#" alt="IMG-PRODUCT">
                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="#">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14 modal-product-name">
                            <!-- Tên sản phẩm -->
                        </h4>
                        <span class="mtext-106 cl2 modal-product-price">
                            <!-- Giá sản phẩm -->
                        </span>
                        <p class="stext-102 cl3 p-t-23 modal-product-description">
                            <!-- Mô tả sản phẩm -->
                        </p>
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Size
                                </div>
                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="size">
                                            <option>Choose an option</option>
                                            <option>Size S</option>
                                            <option>Size M</option>
                                            <option>Size L</option>
                                            <option>Size XL</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Color
                                </div>
                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="color">
                                            <option>Choose an option</option>
                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>White</option>
                                            <option>Grey</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>
                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" data-product-id="">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-show-modal1').on('click', function (e) {
                e.preventDefault();
                var productId = $(this).data('product-id');

                // Gửi yêu cầu AJAX để lấy thông tin sản phẩm
                $.ajax({
                    url: '/Client/Product/GetProductDetails',
                    type: 'GET',
                    data: { productId: productId },
                    success: function (data) {
                        $('.modal-product-name').text(data.name);
                        $('.modal-product-price').text('$' + data.price);
                        $('.modal-product-description').text(data.description);
                        $('.modal-product-image').attr('src', data.imagePath);
                        $('.js-addcart-detail').data('product-id', data.productId);
                        $('.js-modal1').addClass('show-modal1');
                    },
                    error: function () {
                        alert('Error loading product details.');
                    }
                });
            });

            $('.js-addcart-detail').on('click', function () {
                var productId = $(this).data('product-id');
                var quantity = $('.num-product').val();

                // Gửi yêu cầu AJAX để thêm sản phẩm vào giỏ hàng
                $.ajax({
                    url: '/Client/Cart/AddToCart',
                    type: 'POST',
                    data: { productId: productId, quantity: quantity },
                    success: function () {
                        alert('Product added to cart!');
                    },
                    error: function () {
                        alert('Error adding product to cart.');
                    }
                });
            });
        });
    </script>
}